
    <div  class="about" >
        <div class="content"><h1>Food Corner</h1>
         <h1>We care for our customers</h1>
  <h1>Fastest Service with proper sanitization</h1>
</div>

         
         
</div>
<div class="Paragraph"><br>
    Food Corner is a website designated primarily for
    use in the food delivery industry. This system allows to quickly and easily
    Page 3 of 19
    manage an online menu which customers can browse and use to place
    orders with just few clicks.
    The Online Food Delivery System that we are proposing here, greatly
    simplifies the ordering and delivering process for both the customer and the
    restaurant. The system presents an interactive and up-to-date menu with
    all available options in an easy to use manner. Customer can choose one
    or more items to place an order which will land in the Cart. Customer can
    view all the order details in the cart before checking out. At the end,
    customer gets order confirmation details. Users also get the facility of
    tracing their order whenever they want.<br>
    <br>
    <p>You can follow us on</p>
   
</div>
