<div class="container mt-5 mb-5" class="Checkout">
    <form  class="Checkout-box">
     Address : <input type="text" class="form-control" placeholder="Enter Address" style="height:120px; width:500px;" >
     <div class="paymentDekstop-base-pModeHeading">Payment Options</div> 
     <!-----------------------------1.------------------------------------>
     <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Cash On Delivery(Cash/Card/UPI)
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <input type="text" id="name" name="name" style="height:220px; width:400px;">
            <h4 style="color: palevioletred;">Retry</h4>
            <input type="text" id="name" name="name" placeholder="Enter code shown in above image *">
        </ul>
      </div>
           <!-----------------------------2.------------------------------------>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Credit Card
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
           <!-----------------------------3.------------------------------------>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          PhonePe / Google Pay / BHIM UPI
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
     
    </form>
</div>